@keyframes color-back {
  0% {
    background-color: rgba(red, 0.7);
  }

  50% {
    background-color: rgba(green, 0.7);
  }

  75% {
    background-color: rgba(blue, 0.7);
  }

  100% {
    background-color: rgba(red, 0.7);
  }
}
